{% if dropdown_position == 'header' or dropdown_position == 'top-bar' %}
  {% assign dropdown_id = 'header-dropdown-currency' %}
  {% assign dropdown_class = 'header' %}
{% else %}
  {% assign dropdown_class = 'sidebar-menu' %}
  {% assign dropdown_id = 'sidebar-dropdown-currency' %}
{% endif %}

<button
  type="button"
  class="button{% if dropdown_position == 'sidebar' %} button--style{% endif %} dropdown-toggle {{ dropdown_class }}__{% if dropdown_position == 'header' or dropdown_position == 'top-bar' %}link{% elsif dropdown_position == 'sidebar' %}button{% endif %}"
  id="{{ dropdown_id }}"
  data-bs-toggle="dropdown"
  data-bs-display="static"
  aria-expanded="false"
  aria-label="{% t 'Currency' %}"
>
  <i class="theme-icon ph ph-currency-circle-dollar {{ dropdown_class }}__icon"></i>
  <div class="{% if dropdown_position == 'header' or dropdown_position == 'top-bar' %}d-none d-md-block{% endif %} uppercase {{ dropdown_class }}__text">{{- current_currency -}}</div>
  <i class="theme-icon ph ph-caret-down {{ dropdown_class }}__angle"></i>
</button>

<ul class="dropdown-menu {% if dropdown_position == 'header' %}dropdown-menu-end{% elsif dropdown_position == 'sidebar' %}dropdown-menu-start{% elsif dropdown_position == 'top-bar' %}dropdown-menu-md-end dropdown-menu{% endif %} theme-dropdown" aria-labelledby="{{ dropdown_id }}">
  {% for currency in store.currencies_codes %}
    <li class="theme-dropdown__item">
      <a role="button" class="dropdown-item theme-dropdown__link{% if currency == current_currency %} theme-dropdown__link--active{% endif %}" onclick="Jumpseller.setClientCurrency('{{ currency }}')" title="{% t 'Change to' %} {{ currency }}">
        {{- currency -}}
        {% if currency == current_currency %} <i class="theme-icon ph ph-check"></i>{% endif %}
      </a>
    </li>
  {% endfor %}
</ul>
