{% assign section_id = 'theme-section-' | append: component.id %}
{% assign display_option = component.options.display %}

{% if options.theme_animate %}
  {% assign has_animation = true %}

  {% if component.options.animate %}
    {% assign animate_delay = 0 | plus: component.options.animate_delay %}
    {% assign animate_repeat = component.options.animate_repeat %}
    {% assign animate_type = component.options.animate_type %}
  {% else %}
    {% assign animate_delay = 0 | plus: options.theme_animate_delay %}
    {% assign animate_repeat = options.theme_animate_repeat %}
    {% assign animate_type = options.theme_animate_type %}
  {% endif %}
{% else %}
  {% assign has_animation = false %}
{% endif %}

{% if component.options.image_display == 'original' %}
  {% assign sw_autoheight = 'true' %}
{% else %}
  {% assign sw_autoheight = 'false' %}
{% endif %}

{% case component.options.columns_mobile %}
  {% when 1 %}
    {% assign class_mobile = 'col-12' %}
  {% when 2 %}
    {% assign class_mobile = 'col-6' %}
  {% when 3 %}
    {% assign class_mobile = 'col-4' %}
{% endcase %}

{% case component.options.columns_desktop %}
  {% when 4 %}
    {% assign class_desktop = 'col-md-3' %}
  {% when 5 %}
    {% assign class_desktop = 'col-md-3 col-lg-by-5' %}
  {% when 6 %}
    {% assign class_desktop = 'col-md-3 col-lg-2' %}
  {% when 7 %}
    {% assign class_desktop = 'col-md-3 col-lg-by-7' %}
  {% when 8 %}
    {% assign class_desktop = 'col-md-3 col-lg-by-8' %}
{% endcase %}

{% capture sw_content %}
  {% for logo in component.subcomponents.logos %}
    {% render 'components/logo', logo: logo, display_option: display_option, class_mobile: class_mobile, class_desktop: class_desktop, has_animation: has_animation, animate_type: animate_type, animate_repeat: animate_repeat, animate_delay: animate_delay %}
  {% endfor %}
{% endcapture %}

{% assign heading_subtitle = component.options.heading_subtitle %}
{% assign heading_title = component.options.heading_title %}
{% assign heading_description = component.options.heading_description %}
{% assign heading_link = component.options.heading_link %}
{% capture heading_link_text_default %}{% t "Read more" %}{% endcapture %}
{% assign heading_link_text = component.options.heading_link_text | default: heading_link_text_default %}

{%- capture sw_columns %}sw-columns-desktop="{{ component.options.columns_desktop }}" sw-columns-mobile="{{ component.options.columns_mobile }}"{% endcapture -%}

<style>
  #{{ section_id }} {
    --theme-max-width: {{ options.theme_width }};
    --section-margin-top: {{ component.options.margin_top }}px;
    --section-margin-bottom: {{ component.options.margin_bottom }}px;
  }
</style>

<section
  id="{{ section_id }}"
  class="container-fluid theme-section"
  data-bundle-color="{{ component.options.bundle_color }}"
  {{ component.attributes }}
>
  <div class="container container--adjust theme-section__container">
    {% render 'component_heading', subtitle: heading_subtitle, title: heading_title, description: heading_description, link: heading_link, link_text: heading_link_text %}

    <div class="row theme-section__content">
      {% if display_option == 'carousel' %}
        {% render 'component_swiper', sw_layout: 'logo-gallery', sw_content: sw_content, sw_columns: sw_columns, sw_autoheight: sw_autoheight %}
      {% else %}
        {{ sw_content }}
      {% endif %}
    </div>
  </div>
</section>
