{% assign section_id = 'theme-section-' | append: component.id %}

{% if options.theme_animate %}
  {% assign has_animation = true %}

  {% if component.options.animate %}
    {% assign animate_delay = 0 | plus: component.options.animate_delay %}
    {% assign animate_repeat = component.options.animate_repeat %}
    {% assign animate_type = component.options.animate_type %}
  {% else %}
    {% assign animate_delay = 0 | plus: options.theme_animate_delay %}
    {% assign animate_repeat = options.theme_animate_repeat %}
    {% assign animate_type = options.theme_animate_type %}
  {% endif %}
{% else %}
  {% assign has_animation = false %}
{% endif %}

{% case component.options.width %}
  {% when 'grid' %}
    {% assign width = 'col-12' %}
  {% when 'large' %}
    {% assign width = 'col-12 col-md-11 col-lg-10' %}
  {% when 'medium' %}
    {% assign width = 'col-12 col-md-9 col-lg-8' %}
  {% when 'small' %}
    {% assign width = 'col-12 col-md-7 col-lg-6' %}
{% endcase %}

<style>
  #{{ section_id }} {
    --theme-max-width: {{ options.theme_width }};
    --section-margin-top: {{ component.options.margin_top }}px;
    --section-margin-bottom: {{ component.options.margin_bottom }}px;
  }
</style>

{% if page.body != blank %}
  <section
    id="{{ section_id }}"
    class="container-fluid theme-section"
    data-bundle-color="{{ component.options.bundle_color }}"
    {% if has_animation %}
      data-aos-once="{{ animate_repeat }}" data-aos="{{ animate_type }}" data-aos-delay="{{ animate_delay }}"
    {% endif %}
    {{ component.attributes }}
  >
    <div class="container container--adjust theme-section__container">
      <div class="row justify-content-{{ component.options.position_x }} theme-section__content">
        <div class="{{ width }} {{ component.options.alignment }} theme-section__body">{{ page.body }}</div>
      </div>
    </div>
  </section>
{% endif %}
