{% assign section_id = 'theme-section-' | append: component.id %}

{% assign content_type = component.options.content_type %}

{% if component.options.width == 'default' %}
  {% assign section_width = options.theme_width %}
{% else %}
  {% assign section_width = component.options.width %}
{% endif %}

{% if component.options.height == 'auto' %}
  {% assign sw_autoheight = 'true' %}
{% else %}
  {% assign sw_autoheight = 'false' %}
{% endif %}

{% assign show_arrows = component.options.show_arrows %}
{% assign show_arrows_hover = component.options.show_arrows_hover %}
{% assign show_dots = component.options.show_dots %}
{% assign autoplay = component.options.autoplay %}

{% if options.theme_animate %}
  {% assign has_animation = true %}

  {% if component.options.animate %}
    {% assign animate_delay = 0 | plus: component.options.animate_delay %}
    {% assign animate_repeat = component.options.animate_repeat %}
    {% assign animate_type = component.options.animate_type %}
  {% else %}
    {% assign animate_delay = 0 | plus: options.theme_animate_delay %}
    {% assign animate_repeat = options.theme_animate_repeat %}
    {% assign animate_type = options.theme_animate_type %}
  {% endif %}
{% else %}
  {% assign has_animation = false %}
{% endif %}

<style>
  #{{ section_id }} {
    {% if section_width != '1320px' %}--theme-variable-width: {{ section_width }};{% endif %}
    --section-margin-top: {{ component.options.margin_top }}px;
    --section-margin-bottom: {{ component.options.margin_bottom }}px;
  }
</style>

<section
  id="{{ section_id }}"
  class="position-relative theme-slider{% if section_width == '1320px' %} theme-slider--grid{% endif %} theme-slider--{{ content_type }}{% if content_type == 'content' %} theme-section-height-{{ component.options.height }}{% endif %}"
  data-bundle-color="{{ component.options.bundle_color }}"
  {% if has_animation %}
    data-aos-once="{{ animate_repeat }}" data-aos="{{ animate_type }}" data-aos-delay="{{ animate_delay }}"
  {% endif %}
  {{ component.attributes }}
>
  <div class="loading-spinner__wrapper">
    <div class="loading-spinner"></div>
  </div>

  <swiper-slider
    class="swiper theme-slider__carousel{% if content_type == 'content' %} theme-section-height-child{% endif %}"
    sw-layout="slider"
    sw-auto-height="{{ sw_autoheight }}"
    sw-columns="1"
    sw-autoplay="{{ autoplay }}"
    sw-speed="{{ component.options.autoplay_speed }}"
  >
    <div class="swiper-wrapper{% if content_type == 'content' %} theme-section-height-child{% endif %}">
      {% for slide in component.subcomponents.slides %}
        {% render 'components/slide', slide: slide %}
      {% endfor %}
    </div>
  </swiper-slider>

  {% if show_arrows or show_dots %}
    <div
      class="d-flex align-items-center justify-content-between theme-navigation"
      {% if show_arrows and show_arrows_hover %}
        data-arrows-hover="true"
      {% endif %}
    >
      {% if show_arrows %}
        <button type="button" class="button swiper-button-prev theme-navigation__arrow theme-navigation__arrow--prev" aria-label="{% t 'Previous' %}">
          <i class="ph ph-caret-left"></i>
        </button>
      {% endif %}

      {% if show_dots %}
        <div class="swiper-pagination d-flex flex-wrap align-items-center justify-content-center theme-navigation__pagination"></div>
      {% endif %}

      {% if show_arrows %}
        <button type="button" class="button swiper-button-next theme-navigation__arrow theme-navigation__arrow--next" aria-label="{% t 'Next' %}">
          <i class="ph ph-caret-right"></i>
        </button>
      {% endif %}
    </div>
  {% endif %}
</section>
